<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>音乐推荐系统-登录或注册</title>
    <link rel="stylesheet" href="http://127.0.0.1:5000/css/element-ui.css">
    <style>
        body {
            background-image: url('static/cat.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .login-container {
            width: 500px;
            padding: 80px;
            background: rgba(255, 255, 255, 0.6);
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
            border-radius: 8px;
            /* opacity: 0.5; */
            backdrop-filter: blur(8px);
        }

        .login-title {
            text-align: center;
            margin-bottom: 30px;
            font-size: 24px;
            color: #333;
        }
    </style>
</head>

<body>
    <div id="app" class="login-container">
        <div class="login-title">登录或注册</div>
        <el-form :model="loginForm" ref="loginForm" :rules="rules" label-width="80px">
            <el-form-item label="用户名" prop="username">
                <el-input v-model="loginForm.username" clearable></el-input>
            </el-form-item>
            <el-form-item label="邮箱" prop="email">
                <el-input v-model="loginForm.email" clearable></el-input>
            </el-form-item>
            <el-form-item label="密码" prop="password">
                <el-input type="password" v-model="loginForm.password" clearable></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="submitLoginForm()">登录</el-button>
                <el-button @click="submitRegisterForm()">注册</el-button>
                <el-button @click="back_homepage()">返回主页</el-button>
            </el-form-item>
        </el-form>
    </div>
    <script src="http://127.0.0.1:5000/css/vue.js"></script>
    <script src="http://127.0.0.1:5000/css/index.js"></script>
    <script src="http://127.0.0.1:5000/css/my_func.js"></script>



    <script>
        new Vue({
            el: '#app',
            data() {
                return {
                    loginForm: {
                        username: '',
                        password: ''
                    },
                    rules: {
                        username: [{
                            required: true,
                            message: '请输入用户名',
                            trigger: 'blur'
                        }],
                        email: [{
                            required: true,
                            message: '请输入邮箱',
                            trigger: 'blur'
                        }],
                        password: [{
                            required: true,
                            message: '请输入密码',
                            trigger: 'blur'
                        }]
                    }
                };
            },
            methods: {
                
                submitLoginForm() {
                    // if (this.loginForm.username === '' || this.loginForm.password === '') {
                    //     error_dialog.call(this, '用户名或密码不能为空');
                    // } else {
                    //     correct_dialog.call(this, '操作成功');
                    //     localStorage.setItem('username', this.loginForm.username);
                    //     window.location.href = 'recommend.html';
                    // }
                    if (this.loginForm.username === '' || this.loginForm.password === '') {
                        error_dialog.call(this, '用户名或密码不能为空');
                    } else {
                        fetch('http://127.0.0.1:5000/apis/v1/login', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({
                                username: this.loginForm.username,
                                password: this.loginForm.password
                            })
                        })
                            .then(response => response.json())
                            .then(data => {
                                if (data.status === 'success') {
                                    correct_dialog.call(this, '操作成功');
                                    localStorage.setItem('username', this.loginForm.username);
                                    window.location.href = 'recommend.html';
                                } else {
                                    error_dialog.call(this, '登录失败: ' + data.message);
                                }
                            })
                    }
                },
                submitRegisterForm() {
                    if (this.loginForm.username === '' || this.loginForm.password === '') {
                        error_dialog.call(this, '用户名或密码不能为空');
                    } else {
                        fetch('http://127.0.0.1:5000/apis/v1/register', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({
                                username: this.loginForm.username,
                                email: this.loginForm.email,
                                password: this.loginForm.password
                            })
                        })
                            .then(response => response.json())
                            .then(data => {
                                if (data.status === 'success') {
                                    correct_dialog.call(this, '操作成功');
                                    localStorage.setItem('username', this.loginForm.username);
                                    window.location.href = 'recommend.html';
                                } else {
                                    error_dialog.call(this, '注册失败: ' + data.message);
                                }
                            })
                            .catch(error => {
                                error_dialog.call(this, '注册失败: ' + error.message);
                            });
                    }
                },

                back_homepage() {
                    window.location.href = 'index.html';
                },
                displayErrorDialog(msg) {
                    error_dialog.call(this, msg);
                }
            }
            // onload() {
            //     console.log('onload')
            //     // Check URL parameters for login_required
            //     const urlParams = new URLSearchParams(window.location.search);
            //     console.log(urlParams.get('msg'))
            //     if (urlParams.has('msg') && urlParams.get('msg') === 'login_required') {
            //         this.displayErrorDialog('请先登录');
            //     }
            // }
        });
    </script>
</body>

</html>